._title {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

._search_form_main {
    margin: 10px;
}

._title_tbl {
    margin: 10px;
}

._main {
    margin: auto;
    alignment: center;
    width: 1000px;
    height: 100%;
    border: solid black thin;
    border-radius: 5px;
}

.label_info_search {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

._search_form {
    margin: 10px;
    width: 35%;
    border: solid black thin;
    border-radius: 5px;
}

._search_form table {
    margin-top: 10px;
    margin-left: 10px;
}

._pull_down {
    margin: 10px;
}

._label label {
    font-weight: bold;
}

.btn_search {
    margin: auto;
}

.btn_search input {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
}

._action {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

._action .btn_export {
    float: right;
    margin-right: 350px;
}

._error_empty {
    margin: 10px;
    color: red;
}


.tbl-list table {
    width: 98%;
    border: solid black thin;
    margin-left: 10px;
}

.tbl-list table tr {
    width: 97%;
}

.tbl-list table tr th {
    background: darkgrey;
    border-bottom: solid black thin;
    border-right: solid black thin;
}

.tbl-list table tr td {
    border-bottom: solid black thin;
    border-right: solid black thin;
}
._pagination{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}